<?xml version="1.0"?>
<tdf xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- it is allowed to have several <cables> tags
       with different stiffness and rest_length attributes -->
 <rod_class id="rod1" stiffness="100" rest_length="0.5" />
 <cable_class id="cable1" stiffness="10" rest_length="0.25" />

 <composition>
   <cable class="cable1" node1="5" node2="1" />
   <cable class="cable1" node1="5" node2="3" />
   <cable class="cable1" node1="6" node2="1" />
   <cable class="cable1" node1="6" node2="3" />

   <cable class="cable1" node1="7" node2="2" />
   <cable class="cable1" node1="7" node2="4" />
   <cable class="cable1" node1="8" node2="2" />
   <cable class="cable1" node1="8" node2="4" />

   <cable class="cable1" node1="9" node2="1" />
   <cable class="cable1" node1="9" node2="2" />
   <cable class="cable1" node1="9" node2="5" />
   <cable class="cable1" node1="9" node2="7" />

   <cable class="cable1" node1="10" node2="3" />
   <cable class="cable1" node1="10" node2="4" />
   <cable class="cable1" node1="10" node2="5" />
   <cable class="cable1" node1="10" node2="7" />

   <cable class="cable1" node1="11" node2="1" />
   <cable class="cable1" node1="11" node2="2" />
   <cable class="cable1" node1="11" node2="6" />
   <cable class="cable1" node1="11" node2="8" />

   <cable class="cable1" node1="12" node2="3" />
   <cable class="cable1" node1="12" node2="4" />
   <cable class="cable1" node1="12" node2="6" />
   <cable class="cable1" node1="12" node2="8" />

   <rod class="rod1" node1="2" node2="1" />
   <rod class="rod1" node1="4" node2="3" />
   <rod class="rod1" node1="6" node2="5" />
   <rod class="rod1" node1="8" node2="7" />
   <rod class="rod1" node1="10" node2="9" />
   <rod class="rod1" node1="12" node2="11" />
 </composition>

 <initial_positions>
   <node id="1" xyz="-0.25 0 -0.5"/>
   <node id="2" xyz="-0.25 0 0.5"/>
   <node id="3" xyz="0.25 0 -0.5"/>
   <node id="4" xyz="0.25 0 0.5"/>

   <node id="5" xyz="0 -0.5 -0.25"/>
   <node id="6" xyz="0 0.5 -0.25"/>
   <node id="7" xyz="0 -0.5 0.25"/>
   <node id="8" xyz="0 0.5 0.25"/>

   <node id="9" xyz="-0.5 -0.25 0"/>
   <node id="10" xyz="0.5 -0.25 0"/>
   <node id="11" xyz="-0.5 0.25 0"/>
   <node id="12" xyz="0.5 0.25 0"/>
 </initial_positions>
</tdf>
